body {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 12px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase {
    width: 100% !important;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.robotbtn {
  float: left;
  top: -39px;
  left: 200px;
  position: relative;
}

tr.robot {
  background-color: #efefef;
}

.browsers { 
    background-image: url('../images/browsers/browsers.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 1px 5px -3px 0;
}

.browsers-safari {
    background-position: 0 0;
}

.browsers-opera {
    background-position: -14px 0;
}

.browsers-ie {
    background-position: 0 -14px;
}

.browsers-firefox {
    background-position: -14px -14px;
}

.browsers-chromium {
    background-position: -28px 0;
}

.browsers-chrome {
    background-position: -28px -14px;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .browsers {
        background-image: url('../images/browsers/browsers@2x.png');
        -webkit-background-size: 42px 28px;
        -moz-background-size: 42px 28px;
        background-size: 42px 28px;
    }
}

.os {
    background-image: url('../images/os/os.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 1px 5px -3px 0;
}
        
.os-windows-8 {
    background-position: 0 0;
}

.os-windows {
    background-position: -14px 0;
}

.os-linux {
    background-position: 0 -14px;
}

.os-apple {
    background-position: -14px -14px;
}

.os-android {
    background-position: -28px 0;
}
 
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .os {
        background-image: url('../images/os/os@2x.png');
        -webkit-background-size: 42px 28px;
        -moz-background-size: 42px 28px;
        background-size: 42px 28px;
    }
}
