.flag {
    padding-top: 0px;
    background-image: url(../images/all-flags-sprite.png);
    background-repeat: no-repeat;
    height: 12px;
    width: 20px;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: -2px;
    margin-right: 4px;
}

.flag-afg {background-position:   0px 0px;}
.flag-alb {background-position: -20px 0px;}
.flag-dza {background-position: -40px 0px;}
.flag-asm {background-position: -60px 0px;}
.flag-and {background-position: -80px 0px;}
.flag-ago {background-position: -100px 0px;}
.flag-aia {background-position: -120px 0px;}
.flag-atg {background-position: -140px 0px;}
.flag-arg {background-position: -160px 0px;}
.flag-arm {background-position: -180px 0px;}
.flag-abw {background-position:   0px -12px;}
.flag-aus, .flag-hmd {background-position: -20px -12px;}
.flag-aut {background-position: -40px -12px;}
.flag-aze {background-position: -60px -12px;}
.flag-bhs {background-position: -80px -12px;}
.flag-bhr {background-position: -100px -12px;}
.flag-bgd {background-position: -120px -12px;}
.flag-brb {background-position: -140px -12px;}
.flag-blr {background-position: -160px -12px;}
.flag-bel {background-position: -180px -12px;}
.flag-blz {background-position:   0px -24px;}
.flag-ben {background-position: -20px -24px;}
.flag-bmu {background-position: -40px -24px;}
.flag-btn {background-position: -60px -24px;}
.flag-bol {background-position: -80px -24px;}
.flag-bih {background-position: -100px -24px;}
.flag-bwa {background-position: -120px -24px;}
.flag-bra {background-position: -140px -24px;}
.flag-vgb {background-position: -160px -24px;}
.flag-brn {background-position: -180px -24px;}
.flag-bgr {background-position:   0px -36px;}
.flag-bfa {background-position: -20px -36px;}
.flag-bdi {background-position: -40px -36px;}
.flag-khm {background-position: -60px -36px;}
.flag-cmr {background-position: -80px -36px;}
.flag-can {background-position: -100px -36px;}
.flag-cpv {background-position: -120px -36px;}
.flag-cym {background-position: -140px -36px;}
.flag-caf {background-position: -160px -36px;}
.flag-tcd {background-position: -180px -36px;}
.flag-chl {background-position:   0px -48px;}
.flag-chn {background-position: -20px -48px;}
.flag-col {background-position: -40px -48px;}
.flag-com {background-position: -60px -48px;}
.flag-cod {background-position: -80px -48px;}
.flag-cog {background-position: -100px -48px;}
.flag-cok {background-position: -120px -48px;}
.flag-cri {background-position: -140px -48px;}
.flag-civ {background-position: -160px -48px;}
.flag-hrv {background-position: -180px -48px;}
.flag-cub {background-position:   0px -60px;}
.flag-cyp {background-position: -20px -60px;}
.flag-cze {background-position: -40px -60px;}
.flag-dnk {background-position: -60px -60px;}
.flag-dji {background-position: -80px -60px;}
.flag-dma {background-position: -100px -60px;}
.flag-dom {background-position: -120px -60px;}
.flag-tls {background-position: -140px -60px;}
.flag-ecu {background-position: -160px -60px;}
.flag-egy {background-position: -180px -60px;}
.flag-slv {background-position:   0px -72px;}
.flag-gnq {background-position: -20px -72px;}
.flag-eri {background-position: -40px -72px;}
.flag-est {background-position: -60px -72px;}
.flag-eth {background-position: -80px -72px;}
.flag-flk {background-position: -100px -72px;}
.flag-fro {background-position: -120px -72px;}
.flag-fji {background-position: -140px -72px;}
.flag-fin {background-position: -160px -72px;}
.flag-fra, .flag-reu, .flag-guf, .flag-atf, .flag-glp, .flag-ncl, .flag-myt, .flag-maf {background-position: -180px -72px;}
.flag-pyf {background-position:   0px -84px;}
.flag-gab {background-position: -20px -84px;}
.flag-gmb {background-position: -40px -84px;}
.flag-geo {background-position: -60px -84px;}
.flag-deu {background-position: -80px -84px;}
.flag-gha {background-position: -100px -84px;}
.flag-gib {background-position: -120px -84px;}
.flag-grc {background-position: -140px -84px;}
.flag-grl {background-position: -160px -84px;}
.flag-grd {background-position: -180px -84px;}
.flag-gum {background-position:   0px -96px;}
.flag-gtm {background-position: -20px -96px;}
.flag-gin {background-position: -40px -96px;}
.flag-gnb {background-position: -60px -96px;}
.flag-guy {background-position: -80px -96px;}
.flag-hti {background-position: -100px -96px;}
.flag-hnd {background-position: -120px -96px;}
.flag-hkg {background-position: -140px -96px;}
.flag-hun {background-position: -160px -96px;}
.flag-isl {background-position: -180px -96px;}
.flag-ind {background-position:   0px -108px;}
.flag-idn {background-position: -20px -108px;}
.flag-irn {background-position: -40px -108px;}
.flag-irq {background-position: -60px -108px;}
.flag-irl {background-position: -80px -108px;}
.flag-isr {background-position: -100px -108px;}
.flag-ita {background-position: -120px -108px;}
.flag-jam {background-position: -140px -108px;}
.flag-jpn {background-position: -160px -108px;}
.flag-jor {background-position: -180px -108px;}
.flag-kaz {background-position:   0px -120px;}
.flag-ken {background-position: -20px -120px;}
.flag-kir {background-position: -40px -120px;}
.flag-prk {background-position: -80px -120px;}
.flag-kor {background-position: -100px -120px;}
.flag-kwt {background-position: -120px -120px;}
.flag-kgz {background-position: -140px -120px;}
.flag-lao {background-position: -160px -120px;}
.flag-lva {background-position: -180px -120px;}
.flag-lbn {background-position:   0px -132px;}
.flag-lso {background-position: -20px -132px;}
.flag-lbr {background-position: -40px -132px;}
.flag-lby {background-position: -60px -132px;}
.flag-lie {background-position: -80px -132px;}
.flag-ltu {background-position: -100px -132px;}
.flag-lux {background-position: -120px -132px;}
.flag-mac {background-position: -140px -132px;}
.flag-mkd {background-position: -160px -132px;}
.flag-mdg {background-position: -180px -132px;}
.flag-mwi {background-position:   0px -144px;}
.flag-mys {background-position: -20px -144px;}
.flag-mdv {background-position: -40px -144px;}
.flag-mli {background-position: -60px -144px;}
.flag-mlt {background-position: -80px -144px;}
.flag-mhl {background-position: -100px -144px;}
.flag-mtq {background-position: -120px -144px;}
.flag-mrt {background-position: -140px -144px;}
.flag-mus {background-position: -160px -144px;}
.flag-mex {background-position: -180px -144px;}
.flag-fsm {background-position:   0px -156px;}
.flag-mda {background-position: -20px -156px;}
.flag-mco {background-position: -40px -156px;}
.flag-mng {background-position: -60px -156px;}
.flag-mne {background-position: -80px -156px;}
.flag-msr {background-position: -100px -156px;}
.flag-mar {background-position: -120px -156px;}
.flag-moz {background-position: -140px -156px;}
.flag-mmr {background-position: -160px -156px;}
.flag-nam {background-position: -180px -156px;}
.flag-nru {background-position:   0px -168px;}
.flag-npl {background-position: -20px -168px;}
.flag-nld, .flag-ant  {background-position: -40px -168px;}
.flag-nzl {background-position: -60px -168px;}
.flag-nic {background-position: -80px -168px;}
.flag-ner {background-position: -100px -168px;}
.flag-nga {background-position: -120px -168px;}
.flag-niu {background-position: -140px -168px;}
.flag-mnp {background-position: -180px -168px;}
.flag-nor, .flag-sjm, .flag-bvt {background-position:   0px -180px;}
.flag-omn {background-position: -20px -180px;}
.flag-pak {background-position: -40px -180px;}
.flag-plw {background-position: -60px -180px;}
.flag-pse {background-position: -80px -180px;}
.flag-pan {background-position: -100px -180px;}
.flag-png {background-position: -120px -180px;}
.flag-pry {background-position: -140px -180px;}
.flag-per {background-position: -160px -180px;}
.flag-phl {background-position: -180px -180px;}
.flag-pcn {background-position:   0px -192px;}
.flag-pol {background-position: -20px -192px;}
.flag-prt {background-position: -40px -192px;}
.flag-pri {background-position: -60px -192px;}
.flag-qat {background-position: -80px -192px;}
.flag-rou {background-position: -100px -192px;}
.flag-rus {background-position: -120px -192px;}
.flag-rwa {background-position: -140px -192px;}
.flag-shn {background-position: -160px -192px;}
.flag-tdc {background-position: -160px -192px;}
.flag-kna {background-position: -180px -192px;}
.flag-lca {background-position:   0px -204px;}
.flag-spm {background-position: -20px -204px;}
.flag-vct {background-position: -40px -204px;}
.flag-wsm {background-position: -60px -204px;}
.flag-smr {background-position: -80px -204px;}
.flag-stp {background-position: -100px -204px;}
.flag-sau {background-position: -120px -204px;}
.flag-sen {background-position: -160px -204px;}
.flag-srb {background-position: -180px -204px;}
.flag-syc {background-position:   0px -216px;}
.flag-sle {background-position: -20px -216px;}
.flag-sgp {background-position: -40px -216px;}
.flag-svk {background-position: -60px -216px;}
.flag-svn {background-position: -80px -216px;}
.flag-slb {background-position: -100px -216px;}
.flag-som {background-position: -120px -216px;}
.flag-zaf {background-position: -140px -216px;}
.flag-ssd {background-position: -160px -216px;}
.flag-esp {background-position: -180px -216px;}
.flag-lka {background-position:   0px -228px;}
.flag-sdn {background-position: -20px -228px;}
.flag-sur {background-position: -40px -228px;}
.flag-swz {background-position: -60px -228px;}
.flag-swe {background-position: -80px -228px;}
.flag-che {background-position: -100px -228px;}
.flag-syr {background-position: -120px -228px;}
.flag-twn {background-position: -140px -228px;}
.flag-tjk {background-position: -160px -228px;}
.flag-tza {background-position: -180px -228px;}
.flag-tha {background-position:   0px -240px;}
.flag-tibet {background-position: -20px -240px;}
.flag-tls {background-position: -40px -240px;}
.flag-tgo {background-position: -60px -240px;}
.flag-tkl {background-position: -80px -240px;}
.flag-ton {background-position: -100px -240px;}
.flag-tto {background-position: -120px -240px;}
.flag-tun {background-position: -140px -240px;}
.flag-tur {background-position: -160px -240px;}
.flag-tkm {background-position: -180px -240px;}
.flag-tca {background-position:   0px -252px;}
.flag-tuv {background-position: -20px -252px;}
.flag-uga {background-position: -40px -252px;}
.flag-ukr {background-position: -60px -252px;}
.flag-are {background-position: -80px -252px;}
.flag-gbr, .flag-aci {background-position: -100px -252px;}
.flag-usa {background-position: -120px -252px;}
.flag-umi {background-position: -120px -252px;}
.flag-ury {background-position: -140px -252px;}
.flag-uzb {background-position: -160px -252px;}
.flag-vut {background-position: -180px -252px;}
.flag-vat {background-position:  0px -264px;}
.flag-va {background-position:   0px -264px;}
.flag-ven {background-position: -20px -264px;}
.flag-vnm {background-position: -40px -264px;}
.flag-vir {background-position: -60px -264px;}
.flag-wlf {background-position: -80px -264px;}
.flag-esh {background-position: -100px -264px;}
.flag-yem {background-position: -120px -264px;}
.flag-zmb {background-position: -140px -264px;}
.flag-zwe {background-position: -160px -264px;}
.flag-iot {background-position: -180px -264px;}
.flag-cxr {background-position:   0px -276px;}
.flag-cck {background-position: -20px -276px;}
.flag-ggy {background-position: -40px -276px;}
.flag-imn {background-position: -60px -276px;}
.flag-jey {background-position: -80px -276px;}
.flag-nfk {background-position: -100px -276px;}
.flag-blm {background-position: -120px -276px;}
.flag-sgs {background-position: -140px -276px;}
